.App {
  text-align: center;
}

.pokeCards {
  width: 200px;
  min-height: 250px;
  background: rgb(253,203,5);
  box-shadow: 5px 5px 5px gray;
  margin: 10px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.boxInCard {
  width: 150px;
  min-height: 100px;
  background: rgb(219, 219, 219);
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 50px;
  border-style: solid;
  border-color: rgb(37,98,160);
  border-width: 5px;
}

.name {
  width: 150px;
  height: 40px;
  background: rgb(245,46,18);
  color: white;
  margin-left: 25px;
  margin-top: 10px;
  border-style: solid;
  border-width: 5px;
  padding-top: 5px;
  border-color: rgb(37,98,160);
}

.header {
  width: -webkit-fill-available;
  height: 50px;
  position: fixed;
  background: rgb(245,46,18);
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}

.header div {
  width: 33%;
  text-align: center;
}

input {
  height: 30px;
  min-width: 200px;
  border-radius: 4px;
  border: solid 1px black;
  padding: 2px;
  margin-top: 7px;
  margin-left: 3px;
  background-image: url('https://bit.ly/2LTirWN');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right;
  padding-left: 5px;
}
input:focus {
  outline: none;
}

.list {
  padding-top: 60px;

}

.swal-modal {
  padding: 25px;
}

.swal-button {
background: #f52e12;
}

.swal-button:hover {
  background: #2562a0 !important;
}

.buttonToggle {
  background: rgb(247,224,1);
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 5px 15px;
}

button:focus {
  outline: none;
}

.pokeList {
  margin: auto;
  margin-top: 30px;
  max-width: 800px;
}

.pkimg {
  height: 50px;
}

.togbtn {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.inpt {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

audio:focus {
  outline: none;
}